<?xml version='1.0' encoding='UTF-8'?>
<user>
  <fullName>ohbinisodumm</fullName>
  <properties>
    <jenkins.security.ApiTokenProperty>
      <apiToken>03vUPUXdOY6ePIzZX5emkVJvDoLe1Am2S2f6jdUbQGsV6gi95j2p+yn9K4ca6wL2</apiToken>
    </jenkins.security.ApiTokenProperty>
    <hudson.plugins.emailext.watching.EmailExtWatchAction_-UserProperty plugin="email-ext@2.52">
      <triggers/>
    </hudson.plugins.emailext.watching.EmailExtWatchAction_-UserProperty>
    <hudson.model.MyViewsProperty>
      <views>
        <hudson.model.AllView>
          <owner class="hudson.model.MyViewsProperty" reference="../../.."/>
          <name>Alle</name>
          <filterExecutors>false</filterExecutors>
          <filterQueue>false</filterQueue>
          <properties class="hudson.model.View$PropertyList"/>
        </hudson.model.AllView>
      </views>
    </hudson.model.MyViewsProperty>
    <hudson.model.PaneStatusProperties>
      <collapsed/>
    </hudson.model.PaneStatusProperties>
    <hudson.search.UserSearchProperty>
      <insensitiveSearch>false</insensitiveSearch>
    </hudson.search.UserSearchProperty>
    <com.cloudbees.plugins.credentials.UserCredentialsProvider_-UserCredentialsProperty plugin="credentials@2.1.7">
      <domainCredentialsMap class="hudson.util.CopyOnWriteMap$Hash"/>
    </com.cloudbees.plugins.credentials.UserCredentialsProvider_-UserCredentialsProperty>
    <hudson.tasks.Mailer_-UserProperty plugin="mailer@1.18">
      <emailAddress>ohbinisodumm@freenet.de</emailAddress>
    </hudson.tasks.Mailer_-UserProperty>
  </properties>
</user>